nav ul{
    display: flex;
    
}
nav ul li{
    list-style: none;
    padding: 0 10px;
    border-radius: 10px;
    background-color: blue;
    margin: 10px;
    

}
nav ul li:hover{
    background-color: aquamarine;
 
}
nav ul li a:hover{
     color: red;
}
nav ul li a{
    text-decoration: none;
    color: white;
}